$highlight-background   : #282828;
$highlight-foreground   : #fbf1c7;
$highlight-comment      : #928374;
$highlight-red          : #fb4934;
$highlight-orange       : #fe8019;
$highlight-yellow       : #b8bb26;
$highlight-green        : #8ec07c;
$highlight-aqua         : #8abeb7;
$highlight-blue         : #81a2be;
$highlight-purple       : #d3869b;