$highlight-background   : #282828;
$highlight-foreground   : #fbf1c7;
$highlight-comment      : #928374;
$highlight-red          : #fb4934;
$highlight-orange       : #fe8019;
$highlight-yellow       : #e8eb34;
$highlight-green        : #2fa305;
$highlight-aqua         : #8abeb7;
$highlight-blue         : #0159a5;
$highlight-purple       : #aa0c36;